ENGINE_PORT=8001

BACKEND_BASE_URL="http://backend:8000"

# Temporary variables, needed for cloning private repo under organization
# We'll probably find a better way (I hope)
GITHUB_USERNAME="username"
GITHUB_PAT_TOKEN="token"

# This is required for the engine to run Docker using subprocess
DOCKER_HOST="unix:///var/run/docker.sock"

# Required to copy templates to the correct place in Dockerfile and to find the correct path in the engine, do not puth '/' at the beginning or end of the path
TEMPLATES_DIR="path/to/copy/templates/inside/engine"
